<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
<h1>¿Qué es Cancer?</h1>
<h3>El cáncer es una enfermedad por la que algunas células del cuerpo se multiplican sin control y se diseminan a otras partes del cuerpo. 

  Es posible que el cáncer comience en cualquier parte del cuerpo humano, formado por billones de células. En condiciones normales, las células humanas se forman y se multiplican (mediante un proceso que se llama división celular) para formar células nuevas a medida que el cuerpo las necesita. Cuando las células envejecen o se dañan, mueren y las células nuevas las reemplazan.</h3>
</ion-content>
